<div class="card bg-dark-1  border h-100">
    <div class="card-header d-flex justify-content-between py-0 align-items-center  ">
        <div>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Edit</button>
                <button mat-menu-item>Delete</button>
            </mat-menu>
        </div>
    </div>
    <div class="card-body flex-wrap d-flex p-3" *ngIf="!isEditing">
        <!-- data -->
        <p class="card-text w-100">{{data.name}} ( <small class="small"> {{data.code}} </small> )</p>
        <p class="card-text w-100">{{data.method}} </p>
    </div>

    <div class="card-body flex-wrap d-flex p-3" *ngIf="isEditing">
        <!-- form -->
        <form [formGroup]="fieldsForm">
            <input class="form-control form-control-sm" type="text" formControlName="name" placeholder="Name">
            <input class="form-control form-control-sm" type="text" formControlName="method" placeholder="Method">
            <input class="form-control form-control-sm" type="text" formControlName="code" placeholder="Code">
        </form>
        <form [formGroup]="fieldsForm">
            <input class="form-control form-control-sm" type="text" formControlName="name" placeholder="Name">
            <input class="form-control form-control-sm" type="text" formControlName="units" placeholder="unit">
            <input class="form-control form-control-sm" type="text" formControlName="reference" placeholder="Reference">
        </form>
    </div>
    <!-- table -->
    <table class="table table-dark ">
        <thead>
            <tr>
                <th scope="col" class="small">Name</th>
                <th scope="col" class="small">Unit</th>
                <th scope="col" class="small">Reference</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of data.data">
                <td class="small">{{field.parameter}}</td>
                <td class="small">{{field.unit}}</td>
                <td class="small">{{field.reference}}</td>
            </tr>
        </tbody>
    </table>
</div>