<ul class="list-group list-group-flush ">
    <li class="list-group-item bg-dark text-white d-flex justify-content-between" *ngFor="let test of pendingList">
        <span>{{test.name}} {{test.code?'( ' +test.code+ ' )':''}}</span>
        <button mat-stroked-button color="accent" *ngIf="!test.isCaptured"
            (click)="goTo('results',test,patientSelected,false)">Capture</button>
            <!-- send email -->
            <button mat-button [matMenuTriggerFor]="menu" *ngIf="test.isCaptured" >
                Report
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item color="accent" (click)="sendEmail()">Send email</button>
                <button mat-menu-item color="accent" (click)="goTo('reports',test,patientSelected,false)">View</button>
            </mat-menu>
            
    </li>

</ul>