<div class="card bg-dark-1  border h-100">
    <div class="card-header d-flex justify-content-end py-0 align-items-center  " >
        <div>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="edit()">Edit</button>
                <button mat-menu-item (click)="delete(data)">Delete</button>
            </mat-menu>
        </div>
        
    </div>
    <div class="card-body flex-wrap d-flex p-3">
        <p class="card-text w-100 text-capitalize">
            {{data.firstname}} {{data.secondname}} {{data.lastname1}} {{data.lastname2}}
            <small> ( {{data.gender? 'Male':'Female'}}  - {{data.age}} Years old )</small>
        </p>
        <p >
            <span>Business: </span>
            <b>{{data.business}}</b>
        </p>
        <p >
            <span>Email: </span>
            <b> {{data.email}}</b>
        </p>
        <p >
            <span>Tel: </span>
            <b>{{data.phone}}</b>
        </p>
    </div>
    <table class="table table-dark ">
        <thead>
            <tr>
                <th scope="col" class="small">Test</th>
                <th scope="col" class="small">Code</th>
                <th scope="col" class="small"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let test of data.tests">
                <td class="p-3">{{test.name}}</td>
                <td class="p-3">{{test.code}}</td>
                <td><button mat-button color="accent" class="btn-small">Capture</button></td>
            </tr>
        </tbody>
    </table>


</div>