<nav-header></nav-header>
<section class="w-100 bg-dark min-vh-100 py-5 d-flex justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8  text-white py-5">
        <div class="px-4">

            <button mat-stroked-button color="accent" (click)="resetAll(false)">
                {{formView?'Back to View all patients':'Go to create a new patient'}}
            </button>
        </div>
        <!-- view cards -->
        <section *ngIf="!formView" class="row mx-0 px-3">
            <!-- filter -->
            <mat-form-field appearance="fill" color="accent" class="col-sm-12 col-md-4 col-lg-3">
                <mat-label>Search</mat-label>
                <input matInput type="search" [(ngModel)]="filterPatientValue"
                    (keyup)="filter(filterPatientValue,'patient',$event)">
            </mat-form-field>
            <!-- start date -->
            <mat-form-field appearance="fill" color="accent" class="col-sm-6 col-md-4 col-lg-3">
                <mat-label>Start Date</mat-label>
                <input matInput type="date" [(ngModel)]="pagination.startDate" [max]="pagination.endDate"
                    (change)="readPatients()">
            </mat-form-field>
            <!-- end date -->
            <mat-form-field appearance="fill" color="accent" class="col-sm-6 col-md-4 col-lg-3">
                <mat-label>End Date</mat-label>
                <input matInput type="date" [(ngModel)]="pagination.endDate" [min]="pagination.startDate"
                    (change)="readPatients()">
            </mat-form-field>

            <div class="row mx-0  px-0">
                <!-- table -->
                <div class="col-sm-12  overflow-auto  border-top-0 border-bottom-0 border-start-0"
                    style="max-height: 50vh;" [ngClass]="{'col-md-8 border': patientSelected['firstname']}">
                    <table class="table table-dark w-100">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Business</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of patients"
                                [ngClass]="{'bg-secondary': patient._id==patientSelected._id}">
                                <td class="bg-transparent ">{{patient.firstname}}</td>
                                <td class="bg-transparent ">{{patient.lastname1}}</td>
                                <td class="bg-transparent ">{{patient.age}}</td>
                                <td class="bg-transparent ">{{patient.gender?'Male':'Female'}}</td>
                                <td class="bg-transparent ">{{patient.business}}</td>
                                <td class="bg-transparent "><button mat-stroked-button color="accent"
                                        (click)="getDetail(patient)">View detail</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- table -->
                </div>
                <!-- detail -->
                <div class="col-sm-12 col col-md-4 overflow-auto " style="max-height: 50vh;">
                    <card-test [pendingList]="pendingList" [patientSelected]="patientSelected" (cardEmitter$)="listenerEmail()"></card-test>
                </div>
            </div>
        </section>
        <!-- view form -->
        <section class="px-3 py-2 row mx-0" *ngIf="formView">
            <!-- names -->
            <form [formGroup]="generalForm" class="col-12 row px-2 mx-0">
                <!-- first name -->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Given name(s)</mat-label>
                    <input id="firstname" matInput formControlName="firstname" placeholder="" [matAutocomplete]="auto">
                    <!-- autocomplete -->
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let contact of contacts " (click)="selectContact(contact)">
                            {{contact.firstname}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- last name -->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Surname(s)</mat-label>
                    <input id="lastname1" matInput formControlName="lastname1" placeholder="">
                </mat-form-field>
                <!-- last name 2-->
                <!-- Age-->
                <!-- <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-2" color="accent">
                    <mat-label>Age</mat-label>
                    <input id="age" matInput formControlName="age" type="number">
                </mat-form-field> -->
                <!-- date Of Birth-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Date Of Birth</mat-label>
                    <input id="dateOfBirth" matInput formControlName="dateOfBirth" placeholder="" type="date" max="3000-01-01">
                </mat-form-field>
                <!-- gender -->
                <mat-radio-group aria-label="Select an option"
                    class="p-2 col-sm-6 col-md-3 d-flex justify-content-start align-items-center flex-wrap"
                    formControlName="gender" color="primary">
                    <label for="" class="w-100">Gender</label>
                    <mat-radio-button id="gender" value="male" class="mx-2" [disabled]="isDisabled">Male
                    </mat-radio-button>
                    <mat-radio-button value="female" [disabled]="isDisabled"> Female</mat-radio-button>
                </mat-radio-group>
                <!-- business-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Business</mat-label>
                    <input id="business" matInput formControlName="business" type="text" [disabled]="isDisabled">
                </mat-form-field>
                <!-- email-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Email</mat-label>
                    <input id="email" matInput formControlName="email" autocomplete="email" type="email"
                        [disabled]="isDisabled">
                </mat-form-field>
                <!-- phone-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Phone</mat-label>
                    <input id="phone" matInput formControlName="phone" autocomplete="tel" type="text"
                        [disabled]="isDisabled">
                </mat-form-field>
                <!-- add test -->
                <div appearance="fill" class="p-2 col-12 d-flex flex-wrap">
                    <mat-checkbox class="example-margin" color="primary" (change)="isContactSaved=!isContactSaved"
                        [checked]="isContactSaved" [disabled]="isDisabled">Save contact</mat-checkbox>
                </div>
            </form>
            <hr>
            <!-- user -->
            <div class="col-12">
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Search</mat-label>
                    <input matInput type="search" [(ngModel)]="filterTemplatesValue"
                        (keyup)="filter(filterTemplatesValue,'templates',$event)">
                </mat-form-field>
            </div>
            <!-- table newFields-->
            <div class="col-12  px-2 overflow-auto" style="max-height: 300px;">
                <table class="table table-dark table-striped  ">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Method</th>
                            <th scope="col">Code</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let template of templates;let i=index">
                            <td>{{template.name}}</td>
                            <td>{{template.method}}</td>
                            <td></td>
                            <td>
                                <!-- add test -->
                                <div appearance="fill" class="p-2 col-sm-6 col-md-3 d-flex flex-wrap">
                                    <mat-checkbox class="example-margin" color="primary" [(ngModel)]="template.selected"
                                        (change)="getTemplatesSelecteds()"></mat-checkbox>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="d-flex justify-content-end p-2">

                <!-- reset -->
                <button class="m-2" [disabled]="loading" mat-button
                    color="accent" (click)="resetAll(true)">
                    Reset
                </button>
                <!-- save / create-->
                <button class="m-2" [disabled]="generalForm.invalid || tests.length==0 || loading" mat-stroked-button
                    color="accent" (click)="save(generalForm.value,tests)">
                    {{generalForm.value['_id']?'Save':'Create'}}
                </button>
            </div>
        </section>
    </div>

</section>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" id="sendEmail" data-bs-toggle="modal" data-bs-target="#email">
    
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="email" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Send email</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <mat-radio-group aria-label="Select an option"
                class="p-2 col-12 d-flex justify-content-start align-items-center flex-wrap"
                [(ngModel)]="settings.doctor" color="primary">
                <label for="" class="mr-4 col-12">Signature</label>
                <mat-radio-button id="doctor" value="1" class="col-12">Omar Hernández M.D 
                </mat-radio-button>
                <mat-radio-button value="2" class="col-12"> QBP Luis Carlos Guerrero Jiménez</mat-radio-button>
            </mat-radio-group>
            <!-- Flat Design -->
            <mat-radio-group aria-label="Select an option"
                class="p-2 col-12 d-flex justify-content-start align-items-center flex-wrap"
                [(ngModel)]="settings.isFlat" color="primary">
                <label for="" class="mr-4 col-12">Design</label>
                <mat-radio-button  value="false" class="col-12">Normal
                </mat-radio-button>
                <mat-radio-button value="true" class="col-12">Flat</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="modal-footer">
          <button type="button" mat-button data-bs-dismiss="modal">Close</button>
          <button type="button" mat-stroked-button data-bs-dismiss="modal" (click)="sendEmail(this.patientSelected,this.settings)">Send</button>
        </div>
      </div>
    </div>
  </div>