<nav-header></nav-header>
<section class="w-100 bg-dark min-vh-100 py-5 d-flex justify-content-center">
    <div class="col-8 text-white py-5">
        <button mat-button color="accent" (click)="resetAll()">
            {{formView?'Back to View all patients':'Go to create a new patient'}}
        </button>
        <!-- view cards -->
        <section *ngIf="!formView">
            <div class="row mx-0 px-3">
                
                <!-- filter -->
                <mat-form-field appearance="fill" color="accent" class="col-sm-12 col-md-4 col-lg-3">
                    <mat-label>Search</mat-label>
                    <input matInput type="search">
                </mat-form-field>
                <!-- start date -->
                <mat-form-field appearance="fill" color="accent" class="col-sm-12 col-md-4 col-lg-3">
                    <mat-label>Start Date</mat-label>
                    <input matInput type="date" [(ngModel)]="pagination.startDate" [max]="pagination.endDate">
                </mat-form-field>
                <!-- end date -->
                <mat-form-field appearance="fill" color="accent" class="col-sm-12 col-md-4 col-lg-3">
                    <mat-label>End Date</mat-label>
                    <input matInput type="date" [(ngModel)]="pagination.endDate" [min]="pagination.startDate">
                </mat-form-field>
                <!-- pagination -->
                <div class="col-12">
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm ">
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                          </li>
                          <li class="page-item "><a class="page-link bg-secondary text-white border-0" href="#">2</a></li>
                          <li class="page-item "><a class="page-link bg-secondary text-white border-0" href="#">3</a></li>
                        </ul>
                      </nav>
                </div>
            </div>
            
            <div class="row mx-0  g-4 ">

                <!-- table -->
                <div class="col-sm-12 col overflow-auto  border-top-0 border-bottom-0 border-start-0"
                    style="max-height: 50vh;" [ngClass]="{'col-md-8 border': patientSelected['firstname']}">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Business</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of patients" [ngClass]="{'bg-secondary': patient._id==patientSelected._id}">
                                <td class="bg-transparent ">{{patient.firstname}}</td>
                                <td class="bg-transparent ">{{patient.lastname1}}</td>
                                <td class="bg-transparent ">{{patient.age}}</td>
                                <td class="bg-transparent ">{{patient.gender?'Male':'Female'}}</td>
                                <td class="bg-transparent ">{{patient.business}}</td>
                                <td class="bg-transparent "><button mat-button (click)="getDetail(patient)">Go to detail</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- table -->
                </div>
                <!-- detail -->
                <div class="col-sm-12 col col-md-4 overflow-auto " style="max-height: 50vh;" >
                    <card-test [testList]="testList" [patientSelected]="patientSelected"></card-test>
                </div>
            </div>
        </section>
        <!-- view form -->
        <section class="px-3 py-2 row mx-0" *ngIf="formView">
            <!-- names -->
            <form [formGroup]="generalForm" class="col-12 row px-2 mx-0">
                <!-- first name -->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstname" placeholder="">
                </mat-form-field>
                <!-- second name -->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Second Name</mat-label>
                    <input matInput formControlName="secondname" placeholder="" type="text">
                </mat-form-field>
                <!-- last name -->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Last Name 1</mat-label>
                    <input matInput formControlName="lastname1" placeholder="">
                </mat-form-field>
                <!-- last name 2-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-3" color="accent">
                    <mat-label>Last Name 2</mat-label>
                    <input matInput formControlName="lastname2" placeholder="" type="text">
                </mat-form-field>
                <!-- Age-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-2" color="accent">
                    <mat-label>Age</mat-label>
                    <input matInput formControlName="age" placeholder="" type="number">
                </mat-form-field>
                <!-- date Of Birth-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-2" color="accent">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput formControlName="dateOfBirth" placeholder="" type="date">
                </mat-form-field>
                <!-- gender -->
                <mat-radio-group aria-label="Select an option"
                    class="p-2 col-sm-6 col-md-2 d-flex justify-content-center align-items-center flex-wrap"
                    formControlName="gender" color="primary">
                    <label for="" class="w-100">Gender</label>
                    <mat-radio-button value="male" class="mx-2">Male </mat-radio-button>
                    <mat-radio-button value="female"> Female</mat-radio-button>
                </mat-radio-group>
                <!-- business-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-2" color="accent">
                    <mat-label>Business</mat-label>
                    <input matInput formControlName="business" placeholder="" type="text">
                </mat-form-field>
                <!-- email-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-2" color="accent">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="" type="email">
                </mat-form-field>
                <!-- phone-->
                <mat-form-field appearance="fill" class="p-2 col-sm-6 col-md-2" color="accent">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" placeholder="" type="text">
                </mat-form-field>

            </form>
            <hr>
            <!-- user -->
            <div class="col-12"> 
                <mat-form-field appearance="fill" color="accent" >
                    <mat-label>Search</mat-label>
                    <input matInput type="search">
                </mat-form-field>
            </div>
            <!-- table newFields-->
            <div class="col-12  px-2 overflow-auto" style="max-height: 300px;">
                <table class="table table-dark table-striped  ">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Method</th>
                            <th scope="col">Code</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let template of templates;let i=index">
                            <td>{{template.name}}</td>
                            <td>{{template.method}}</td>
                            <td></td>
                            <td>
                                <!-- add test -->
                                <div appearance="fill" class="p-2 col-sm-6 col-md-3 d-flex flex-wrap">
                                    <mat-checkbox class="example-margin" color="primary" [(ngModel)]="template.selected"
                                        (change)="getTemplatesSelecteds()"></mat-checkbox>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="d-flex justify-content-end">
                <!-- button tests.length==0 || -->
                <button class="" [disabled]="generalForm.invalid && tests.length==0" mat-button color="accent"
                    (click)="save(generalForm.value,tests)">{{generalForm.value['_id']?'Save':'Create'}}</button>
            </div>
        </section>
    </div>

</section>

<!-- Modal -->
<div class="modal fade text-white z-index-4" id="templates" tabindex="-1" aria-labelledby="template" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h2 class="modal-title mb-0" id="exampleModalLabel">Tests</h2>
            </div>
            <div class="modal-body bg-dark-1">


            </div>
            <div class="modal-footer bg-dark">
                <button mat-button data-bs-dismiss="modal" id="cancel-templates">cancel</button>

            </div>
        </div>
    </div>
</div>