<nav class="navbar position-fixed navbar-expand-lg  top-0 left-0 z-index-1 w-100 " style="background-color: #FC5757;">
  <!-- Navbar content -->
  <div class="px-3 container-fluid col-sm-12 col-md-10 col-lg-8 px-0 d-flex justify-content-between">
    <!-- session -->
    <div class="d-flex flex-wrap text-white align-items-center">
      <!-- icon -->
      <img src="../../../assets/images/logo.jpeg" height="40" class="rounded-3  mr-2">
      <span>{{user.username}}</span>
      <!-- <mat-slide-toggle [checked]="user.darkMode" class="text-white">Dark Mode</mat-slide-toggle> -->
    </div>
    <!-- nav -->
    <button mat-button  data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <mat-icon class="text-white">menu</mat-icon>
    </button>

  </div>
</nav>

<div class="offcanvas offcanvas-end bg-white" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Options</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown mt-2">
      <ul class="navbar-nav d-flex justify-content-end w-100">
        <li class="nav-item text-muted">
          <a class="nav-link h1 mb-0 " [routerLink]="['/templates']" routerLinkActive="text-dark">Templates</a>
        </li>
        <li class="nav-item text-muted">
          <a class="nav-link h1 mb-0 " [routerLink]="['/contacts']" routerLinkActive="text-dark">Contacts</a>
        </li>
        <li class="nav-item text-muted">
          <a class="nav-link h1 mb-0 " [routerLink]="['/pending']" routerLinkActive="text-dark">Pending</a>
        </li>
        <li class="nav-item text-muted">
          <a class="nav-link h1 mb-0 " [routerLink]="['/users']" routerLinkActive="text-dark"
          *ngIf="user.isAdmin">Users</a>
        </li>
       
        <hr>
        <li class="nav-item text-muted">
          <a class="nav-link h1 mb-0 "  (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>