<nav class="navbar position-fixed navbar-expand-lg  top-0 left-0 z-index-1 w-100 " style="background-color: #FF454E;">
  <!-- Navbar content -->
  <div class="container-fluid col-8 px-0 d-flex justify-content-between">
    <!-- session -->
    <div class="d-flex flex-wrap">
      <label class="mb-0 text-white p-2 w-100" [matMenuTriggerFor]="menu">{{user.username}} <mat-icon>
        expand_morex
      </mat-icon></label>
      <!-- <mat-slide-toggle [checked]="user.darkMode" class="text-white">Dark Mode</mat-slide-toggle> -->
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
      <!-- <button mat-menu-item >Active dark mode</button> -->
    </mat-menu>
    <!-- icon -->
    <img src="../../../assets/images/logo.jpeg" height="40" class="rounded-3  mr-2">
    <!-- nav -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-end w-100">
        <li class="nav-item">
          <a class="nav-link h1 mb-0 text-light" [routerLink]="['/templates']"
            routerLinkActive="border-bottom">Templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h1 mb-0 text-light" [routerLink]="['/tests']" routerLinkActive="border-bottom">Pending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h1 mb-0 text-light" [routerLink]="['/users']" routerLinkActive="border-bottom" *ngIf="user.isAdmin">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>